<!DOCTYPE html>
<html>
<head>
  <title>Couleurvocale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<body style="background: #EEEEEE;">
 <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Acceuil</title>
 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <LINK rel="stylesheet" type="text/css" href="style.css">

<script src="jquery.js"></script>
    <script type="text/javascript" src="monscript.js"></script>

 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
        
<body>
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>



               <%= image_tag 'Logo CV.jpg', class: "logo" %>

                <a class="navbar-brand" href="index.html"></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/admin/admin">admin</a>
                    </li>
                    <li>
                        <a href="/welcome/shootbox">chat</a>
                    </li>
                    <li>
                        <a href="/welcome/index">Acceuil</a>
                    </li>
                     <li>
                        <a href="/welcome/about">Presentation Harmonisation</a>
                    </li>
                    <li>
                        <a href="/welcome/galery">Galery Photos</a>
                    </li>
                    <li>
                        <a href="/welcome/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



                  
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <%= image_tag 'musique3.jpg', class: "intro-header" %>
             
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                       <div id="text_shadow">
                        <center><h1><font color = "gray">Couleurs Vocales de Lanton</font></h1></center>
                        <hr class="small">
                    <center><marquee behavior="scroll"><h2><font color = "BlueViolet "> le site Couleurs Vocales vous souhaites la bienvenue.</font></h2></marquee></center> 
                   </div>
               </div>
           </div>
     </div>
     
</div>
</header>
</body>










</head>
<body>
<!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->



<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<%= yield %>


 

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://couleur33vocale.comli.com/","theme":"light-floating"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

</window.cookieconsent_options>
</script>
</body>
</html>

